<div class="account-navi">
  <p class="choice-account"><%= link_to'アカウント',current_user%></p>
  <p class="choice-profile"><%= link_to'プロフィール','/users/profile'%></p>
</div>

<table>
  <thead>
    <tr>
      <th>アイコン</th>
      <th>名前</th>
      <th>自己紹介</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.icon%></td>
      <td><%= @user.name%></td>
      
    </tr>
  </tbody>
</table>

<button>
  編集
</button>
