<h3>予約一覧</h3>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>画像</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>合計金額</th>
    </tr>
  </thead>

  <tbody>
    <% @reservation.each do |reservation| %>
      <tr>
        <td><%=@room.name%></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <%end%>
  </tbody>
</table>

